name: Run-project

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  run-Restro-project:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo code
        uses: actions/checkout@v3

      - name: set up node
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
      
      - name: Install NPM Dependencies
        run: npm install

      - name: JS lint
        run: |
          npm run lint || (echo "Linting failed! Please run 'npm run lint:fix' to fix the errors." && exit 1)

      - name: Run the project
        run: |
          npm run serve &
          npm run backend &

      - name: wait for services
        run: |
          sudo apt-get install wait-for-it -y
          wait-for-it -h localhost -p 8080 -t 10
          wait-for-it -h localhost -p 3000 -t 10

      - name: run web-ui tests
        id: test-webui
        run: |
          npx playwright install chromium
          npm run test:e2e tests

      - name: upload trace results
        if: ${{ failure() && steps.test-webui.conclusion == 'failure' }}
        uses: actions/upload-artifact@v4
        with:
          path: |
            trace-results/*.zip

      - name: Log tracing result
        if: ${{ failure() && steps.test-webui.conclusion == 'failure' }}
        run: |
          echo "::error::Some UI tests failed. Trace files have been generated."
          echo "You can download the 'Artifacts' from this run to view the traces."
          echo "-------------------------------------------------------"
          echo "Found trace files:"
          if ls trace-results/*.zip 1> /dev/null 2>&1; then
            for file in trace-results/*.zip; do
              echo "- $file"
              Download link for $file: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/artifacts?query=$file
            done
          else
            echo "No trace files found in trace-results/ directory."
          fi